<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.his.graduationproject.dao.PatientMapper">
    <resultMap id="patientResultMap" type="Patient">
        <result property="pid" column="p_id"/>
        <result property="pname" column="p_name"/>
        <result property="sex" column="p_sex"/>
        <result property="nationality" column="p_nationality"/>
        <result property="born" column="p_born"/>
        <result property="birth" column="p_birth"/>
        <result property="tel" column="p_tel"/>
        <result property="regAddr" column="p_reg_addr"/>
        <result property="currAddr" column="p_curr_addr"/>
        <result property="province" column="p_province"/>
        <result property="city" column="p_city"/>
        <result property="contact" column="p_contact"/>
        <result property="conRel" column="p_con_rel"/>
        <result property="conTel" column="p_con_tel"/>
        <result property="married" column="p_married"/>
        <result property="nation" column="nation" />
    </resultMap>

    <sql id="patientColumns">
        p_id,p_name,p_sex,p_birth,p_nationality,nation,p_born,p_tel,p_reg_addr,p_curr_addr,p_province,p_city,p_contact,p_con_rel,p_con_tel,p_married
    </sql>

    <select id="findPatientByPid" resultMap="patientResultMap">
        select *
        from patient
        where p_id = #{pid}
    </select>

    <select id="findPatients" resultMap="patientResultMap">
        SELECT *
        FROM patient
    </select>

    <select id="findPatientsByConditions" resultMap="patientResultMap">
        SELECT *
        FROM patient
        <where>
            <if test="conditionDTO.pid!=null and conditionDTO.pid!=''">
                <bind name="pid" value="'%'+conditionDTO.pid+'%'"/>
                and p_id like #{pid}
            </if>
            <if test="conditionDTO.pname!=null and conditionDTO.pname!=''">
                <bind name="pname" value="'%'+conditionDTO.pname+'%'"/>
                and p_name like #{pname}
            </if>
        </where>
    </select>

    <insert id="insertPatient">
        insert into patient(p_id,p_name,p_sex,p_birth,p_nationality,nation,
        p_born,p_tel,p_reg_addr,p_curr_addr,p_province,p_city,p_contact,p_con_rel,
        p_con_tel,p_married)
        values (#{patient.pid},#{patient.pname},#{patient.sex},#{patient.birth},
        #{patient.nationality},#{patient.nation},#{patient.born},#{patient.tel},
        #{patient.regAddr},#{patient.currAddr},#{patient.province},#{patient.city},
        #{patient.contact},#{patient.conRel},#{patient.conTel},#{patient.married})
    </insert>

    <update id="updatePatient">
        update patient
        set
        p_name =#{patient.pname},p_sex = #{patient.sex},p_birth = #{patient.birth},
        p_nationality = #{patient.nationality},nation = #{patient.nation},
        p_born = #{patient.born},p_tel=#{patient.tel},p_reg_addr = #{patient.regAddr},
        p_curr_addr = #{patient.currAddr},p_province = #{patient.province},p_city = #{patient.city},
        p_contact=#{patient.contact},p_con_rel =#{patient.conRel},
        p_con_tel=#{patient.conTel},p_married = #{patient.married}
        where p_id = #{patient.pid}
    </update>

    <update id="updatePatientWithPid">
        update patient
        set
        p_id = #{patient.pid},p_name =#{patient.pname},p_sex = #{patient.sex},p_birth = #{patient.birth},
        p_nationality = #{patient.nationality},nation = #{patient.nation},
        p_born = #{patient.born},p_tel=#{patient.tel},p_reg_addr = #{patient.regAddr},
        p_curr_addr = #{patient.currAddr},p_province = #{patient.province},p_city = #{patient.city},
        p_contact=#{patient.contact},p_con_rel =#{patient.conRel},
        p_con_tel=#{patient.conTel},p_married = #{patient.married}
        where p_id = #{patient.oldpid}
    </update>

    <delete id="deletePatientByPid">
        delete from patient where p_id = #{pid}
    </delete>

</mapper>